@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Howdy Everyone!</h1>
    <p>Here I will build Web Software using JavaScript and C# using libaries and frameworks like React.js, Express.js, ASP.NET!</p>
</div>
